html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana;
  font-size: 12px;
  background: #D0D0D0;
  text-align: center;
}

footer {
  margin-top: 10px;
}

#game {
  display: inline-block;
  text-align: center;
  padding: 5px;
  max-width: 300px;
}

.panel {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #808080;
  border-radius: 5px;
}
